<p id="notice"><%= notice %></p>


<p>Hi, my name is <%= @myform.name %> and my email is <%= @myform.email %></p>







<%= link_to 'Edit', edit_myform_path(@myform) %> |
<%= link_to 'Back', myforms_path %>
